@model List<ProductoVenta>

@{
    ViewData["Title"] = "Ventas";
}
<head>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
    <script src="/js/Venta_New.js"></script>
</head>

<!-- INTERACCIÓN -->
<div class="container mx-auto p-6">
    <h1 class="text-2xl font-semibold mb-4">Ventas</h1>

    <div class="flex flex-wrap -mx-2">
        <!-- LISTA DE PRODUCTOS Y FILTROS -->
        <div class="w-full md:w-1/2 px-2 mb-4">
            <div class="p-4 bg-white rounded-lg shadow-md">
                <h2 class="text-xl font-semibold mb-4 text-blue-500">Lista de Productos</h2>
                <div class="filtro-container">
                    <!-- Búsqueda por nombre -->
                    <div class="relative mb-4 w-full inline-block">
                        <label for="buscarProducto" class="block text-sm font-medium text-gray-600">Buscar Producto:</label>
                        <input type="text" id="buscarProducto" name="buscarProducto" placeholder="Ingrese nombre del producto" class="mt-1 p-2 w-full rounded-md border shadow-sm">
                    </div>

                    <!-- Categoría -->
                    <div class="relative mb-4 w-1/4 inline-block">
                        <label for="categoriaCombobox" class="block text-sm font-medium text-gray-600">Categoría:</label>
                        <select id="categoriaCombobox" class="mt-1 p-2 rounded-md border border-green-300 shadow-sm w-full">
                            <option value="">Todas las Categorías</option>
                            @foreach (var categoria in ViewBag.Categoria)
                            {
                                <option value="@categoria.Value">@categoria.Text</option>
                            }
                        </select>
                    </div>

                    <!-- Calidad -->
                    <div class="relative mb-4 w-1/4 inline-block">
                        <label for="calidadCombobox" class="block text-sm font-medium text-gray-600">Calidad:</label>
                        <select id="calidadCombobox" class="mt-1 p-2 rounded-md border border-green-300 shadow-sm w-full">
                            <option value="">Todas las calidades</option>
                            @foreach (var calidad in ViewBag.Calidad)
                            {
                                <option value="@calidad.Value">@calidad.Text</option>
                            }
                        </select>
                    </div>

                    <!-- Talla -->
                    <div class="relative mb-4 w-1/4 inline-block">
                        <label for="sizeCombobox" class="block text-sm font-medium text-gray-600">Talla:</label>
                        <select id="sizeCombobox" class="mt-1 p-2 rounded-md border border-green-300 shadow-sm w-full">
                            <option value="">Todas las tallas</option>
                            @foreach (var talla in ViewBag.Tallas as List<SelectListItem>)
                            {
                                <option value="@talla.Value">@talla.Text</option>
                            }
                        </select>
                    </div>

                    <!-- Color -->
                    <div class="relative mb-4 w-1/4 inline-block">
                        <label for="colorCombobox" class="block text-sm font-medium text-gray-600">Color:</label>
                        <select id="colorCombobox" class="mt-1 p-2 rounded-md border shadow-sm w-full">
                            <option value="">Todos los colores</option>
                            @foreach (var color in ViewBag.Colores)
                            {
                                <option value="@color.Value">@color.Text</option>
                            }
                        </select>
                    </div>

                    <!-- Marca -->
                    <div class="relative mb-4 w-1/4 inline-block">
                        <label for="marcaCombobox" class="block text-sm font-medium text-gray-600">Marca:</label>
                        <select id="marcaCombobox" class="mt-1 p-2 rounded-md border shadow-sm w-full">
                            <option value="">Todas las marcas</option>
                            @foreach (var marca in ViewBag.Marca)
                            {
                                <option value="@marca.Value">@marca.Text</option>
                            }
                        </select>
                    </div>

                    <!-- Modelo -->
                    <div class="relative mb-4 inline-block w-1/4">
                        <label for="modeloCombobox" class="block text-sm font-medium text-gray-600">Modelo:</label>
                        <select id="modeloCombobox" name="modelo" class="mt-1 p-2 rounded-md border shadow-sm w-full">
                            <option value="">Todos los modelos</option>
                            @foreach (var modelo in ViewBag.Modelos)
                            {
                                <option value="@modelo.Value">@modelo.Text</option>
                            }
                        </select>
                    </div>
                </div>

                <!-- Matriz de Productos -->
                <div id="productosGrid" class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4 mb-4">
                    @foreach (var producto in Model)
                    {
                        var urlImagenCompleta = $"{producto.ImagenCarpeta}/{producto.ImagenNombre}"; // Combina imagenCarpeta e imagenNombre

                        <div class="producto bg-white p-3 rounded-lg shadow-md transition-transform transform hover:scale-105"
                             data-idproducto="@producto.IdProducto"
                             data-idsize="@producto.IdSize"
                             data-idcolor="@producto.IdColor"
                             data-idmodeloproducto="@producto.IdModeloProducto"
                             data-idCalidad="@producto.IdCalidad"
                             data-idMarca="@producto.IdMarca"
                             data-idCategoria="@producto.IdCategoria"
                             data-categoriaDescripcion="@producto.CategoriaDescripcion"
                             data-sizeDescription="@producto.SizeDescription"
                             data-calidadDescripcion="@producto.CalidadDescripcion"
                             data-colorDescription="@producto.ColorDescription"
                             data-cantidad="@producto.Cantidad">

                            <div class="relative mb-3">
                                <img src="@urlImagenCompleta" alt="@producto.Producto" class="w-24 h-24 object-cover rounded-md mx-auto">
                            </div>
                            <h3 class="text-center text-md mb-2">@producto.Producto</h3>
                            <!-- Inicio de la rejilla para detalles del producto -->
                            <div class="grid grid-cols-2 gap-2">
                                <div>
                                    <strong>Marca:</strong>
                                    <p>@producto.Marca</p>
                                </div>
                                <div>
                                    <strong>Precio:</strong>
                                    <p class="precio-producto">@producto.Precio.ToString("0.00")</p>
                                </div>
                                <div>
                                    <strong>Cantidad:</strong>
                                    <p>@producto.Cantidad</p>
                                </div>
                                <div>
                                    <strong>Tamaño:</strong>
                                    <p>@producto.SizeDescription</p>
                                </div>
                                <div>
                                    <strong>Color:</strong>
                                    <p>@producto.ColorDescription</p>
                                </div>
                                <div>
                                    <strong>Modelo:</strong>
                                    <p>@producto.ModeloDescripcion</p>
                                </div>
                            </div>
                            <button class="btnSeleccionarProducto text-blue-500 hover:text-blue-700 block w-full py-1 px-3 border border-blue-500 rounded-md transition-colors hover:bg-blue-500 hover:text-white">Seleccionar</button>
                        </div>
                    }
                </div>

                <!-- Paginación -->
                <div class="flex justify-center mt-4">
                    <button id="prevPage" class="bg-blue-500 text-white px-4 py-2 rounded-l-md">Anterior</button>
                    <button id="nextPage" class="bg-blue-500 text-white px-4 py-2 rounded-r-md">Siguiente</button>
                </div>
            </div>
        </div>

        <!-- PRODUCTOS SELECCIONADOS -->
        <div class="w-full md:w-1/2 px-2 mb-4">
            <div class="p-4 bg-white rounded-lg shadow-md">
                <h2 class="text-xl font-semibold mb-4 text-blue-500">Detalles de la Venta</h2>

                <!-- Selección Tipo de Venta -->
                <div class="mb-4">
                    <label for="tipoVenta" class="block text-sm font-medium text-gray-600">Tipo de Venta:</label>
                    <select id="tipoVentaCombobox" name="tipoVenta" class="mt-1 p-2 rounded-md border shadow-sm w-full">
                        @foreach (var tipoVenta in ViewBag.TipoVenta)
                        {
                            <option value="@tipoVenta.Value">@tipoVenta.Text</option>
                        }
                    </select>
                </div>

                <!-- Selección de Cliente -->
                <div class="mb-4">
                    <label for="cliente" class="block text-sm font-medium text-gray-600">Seleccionar Cliente:</label>
                    <div id="clienteAddedMsg" class="hidden text-green-500">Cliente añadido</div>
                    <div class="flex items-center space-x-2">
                        <select id="clienteCombobox" name="cliente" class="mt-1 block w-full py-2 px-3 border border-gray-300 bg-white rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm">
                            <option value="0">Cliente Genérico</option>
                            @foreach (var cliente in ViewBag.Cliente)
                            {
                                <option value="@cliente.Value">@cliente.Text</option>
                            }
                        </select>
                        <button id="addNewClientBtn" class="bg-orange-500 hover:bg-orange-600 text-white font-medium py-1 px-3 rounded text-sm">
                            Añadir Cliente
                        </button>
                    </div>
                </div>

                <!-- Selección de Transporte -->
                <div class="mb-4">
                    <label for="transporte" class="block text-sm font-medium text-gray-600">Seleccionar Emp. Transporte:</label>
                    <select id="transporteCombobox" name="transporte" class="mt-1 p-2 rounded-md border shadow-sm w-full">
                        <option value="0">No transporte</option>
                        @foreach (var transporte in ViewBag.TransDocumentos)
                        {
                            <option value="@transporte.Value">@transporte.Text</option>
                        }
                    </select>
                </div>
                <div id="ubigeoContainer" class="flex flex-wrap -mx-2 mb-4 hidden">
                    <!-- Departamento -->
                    <div class="w-1/3 px-2 mb-4">
                        <label for="departamentoCombobox" class="block text-sm font-medium text-gray-600">Departamento:</label>
                        <select id="departamentoCombobox" class="mt-1 p-2 rounded-md border border-green-300 shadow-sm w-full">
                            <option value="">Seleccione un Departamento</option>
                            @foreach (var departamento in ViewBag.Departamentos)
                            {
                                <option value="@departamento">@departamento</option>
                            }
                        </select>
                    </div>

                    <!-- Provincia -->
                    <div class="w-1/3 px-2 mb-4">
                        <label for="provinciaCombobox" class="block text-sm font-medium text-gray-600">Provincia:</label>
                        <select id="provinciaCombobox" class="mt-1 p-2 rounded-md border border-green-300 shadow-sm w-full" disabled>
                            <option value="">Seleccione una Provincia</option>
                        </select>
                    </div>

                    <!-- Distrito -->
                    <div class="w-1/3 px-2 mb-4">
                        <label for="distritoCombobox" class="block text-sm font-medium text-gray-600">Distrito:</label>
                        <select id="distritoCombobox" class="mt-1 p-2 rounded-md border border-green-300 shadow-sm w-full" disabled>
                            <option value="">Seleccione un Distrito</option>
                        </select>
                    </div>
                </div>
                <!-- Lista de Productos Seleccionados -->
                <div class="mb-4">
                    <h3 class="text-md font-medium text-gray-600">Productos Seleccionados: <span id="contadorProductos">0</span></h3>
                    <table id="tablaProductosSeleccionados" class="min-w-full divide-y divide-gray-200 text-center rounded-lg shadow-sm">
                        <thead class="bg-gray-100">
                            <tr>
                                <th class="px-2 py-2">Imagen</th>
                                <th class="px-2 py-2">Producto</th>
                                <th class="px-2 py-2">Calidad</th>
                                <th class="px-2 py-2">Cantidad</th>
                                <th class="px-2 py-2">Talla</th>
                                <th class="px-2 py-2">Precio</th>
                                <th class="px-2 py-2">Total</th>
                                <th class="px-2 py-2">Acciones</th>
                            </tr>
                        </thead>

                        <tbody>
                            <!-- Productos Seleccionados serán añadidos aquí -->
                        </tbody>
                    </table>
                </div>

                <button id="confirmSaleButton" class="px-4 py-2 bg-blue-500 text-white rounded-md">Confirmar Venta</button>
            </div>
        </div>
    </div>
</div>

<!-- MODAL RESUMEN DE PRODUCTOS SELECCIONADOS -->
<div class="fixed z-10 inset-0 overflow-y-auto hidden" aria-labelledby="modal-title" role="dialog" aria-modal="true" id="resumenVentaModal">
    <div class="flex items-end justify-center min-h-screen pt-4 px-4 pb-20 text-center sm:block sm:p-0">
        <div class="fixed inset-0 bg-gray-500 bg-opacity-75 transition-opacity" aria-hidden="true"></div>
        <span class="hidden sm:inline-block sm:align-middle sm:h-screen" aria-hidden="true">&#8203;</span>

        <div class="inline-block align-bottom bg-white rounded-lg text-left overflow-hidden shadow-xl transform transition-all sm:my-8 sm:align-middle sm:max-w-2xl sm:w-full">
            <div class="bg-white px-4 pt-5 pb-4 sm:p-6 sm:pb-4">
                <h3 class="text-lg leading-6 font-medium text-gray-900" id="modal-title">
                    Resumen de Venta
                </h3>
                <div class="mt-2">
                    <!-- Tabla copia de productos seleccionados -->
                    <table id="tablaCopiaProductos" class="min-w-full divide-y divide-gray-200 text-center">
                        <!-- Cabecera y cuerpo de la tabla -->
                    </table>
@*                     <label>
                        <input type="checkbox" id="mostrarProductoCheckbox"> Mostrar columna de Producto
                    </label> *@
@*                     <label>
                        <input type="checkbox" id="mostrarTallaCheckbox"> Mostrar columna de Talla
                    </label> *@
                    <!-- Tabla resumen por talla -->
                    <table id="tablaResumenTallas" class="min-w-full divide-y divide-gray-200 text-center">
                        <thead>
                            <tr>
                                <th class="px-4 py-2">Categoría</th>
                                <th class="px-4 py-2">Calidad</th>
                                <th class="px-4 py-2">Cantidad</th>
                            </tr>
                        </thead>
                        <tbody>
                            <!-- Las filas se agregarán dinámicamente desde JavaScript -->
                        </tbody>
                    </table>
                    <!-- Campo de venta total -->
                    <div class="mt-4">
                        <div class="flex space-x-2">
                            <div class="flex-1">
                                <label for="ventaTotal" class="block text-sm font-medium text-gray-600">Venta Total:</label>
                                <input type="number" id="ventaTotal" class="mt-1 p-2 w-full rounded-md border shadow-sm" step="0.01">
                            </div>
                            <div class="flex-1">
                                <label for="cantidadTotal" class="block text-sm font-medium text-gray-600">Cantidad Total:</label>
                                <input type="number" id="cantidadTotal" class="mt-1 p-2 w-full rounded-md border shadow-sm" readonly>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="bg-gray-50 px-4 py-3 sm:px-6 sm:flex sm:flex-row-reverse">
                <button type="button" class="w-full inline-flex justify-center rounded-md border border-transparent shadow-sm px-4 py-2 bg-blue-600 text-base font-medium text-white hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-500 sm:ml-3 sm:w-auto sm:text-sm" id="confirmFinalSale">
                    Confirmar
                </button>
                <button type="button" class="mt-3 w-full inline-flex justify-center rounded-md border border-gray-300 shadow-sm px-4 py-2 bg-white text-base font-medium text-gray-700 hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500 sm:mt-0 sm:ml-3 sm:w-auto sm:text-sm" id="closeModal">
                    Cancelar
                </button>
            </div>
        </div>
    </div>
</div>

<!-- MODAL VENTA CONFIRMADA -->
<div class="fixed z-10 inset-0 overflow-y-auto hidden" aria-labelledby="modal-title" role="dialog" aria-modal="true" id="successModal">
    <div class="flex items-end justify-center min-h-screen pt-4 px-4 pb-20 text-center sm:block sm:p-0">
        <div class="fixed inset-0 bg-gray-500 bg-opacity-75 transition-opacity" aria-hidden="true"></div>

        <span class="hidden sm:inline-block sm:align-middle sm:h-screen" aria-hidden="true">&#8203;</span>

        <div class="inline-block align-bottom bg-white rounded-lg text-left overflow-hidden shadow-xl transform transition-all sm:my-8 sm:align-middle sm:max-w-lg sm:w-full border-4 border-green-500">
            <div class="bg-white px-4 pt-5 pb-4 sm:p-6 sm:pb-4">
                <i class="fas fa-check-circle text-green-500 text-3xl"></i>
                <h3 class="text-lg leading-6 font-medium text-gray-900" id="modal-title">
                    Venta Guardada
                </h3>
                <!-- Resto del contenido del modal -->
            </div>
            <div class="bg-gray-50 px-4 py-3 sm:px-6 sm:flex sm:flex-row-reverse">
                <button id="printReceipt" class="w-full inline-flex justify-center rounded-md border border-transparent shadow-sm px-4 py-2 bg-green-600 text-base font-medium text-white hover:bg-green-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-green-500 sm:ml-3 sm:w-auto sm:text-sm">
                    Imprimir
                </button>
                <button id="continueSelling" class="mt-3 w-full inline-flex justify-center rounded-md border border-gray-300 shadow-sm px-4 py-2 bg-green-500 text-base font-medium text-white hover:bg-green-600 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500 sm:mt-0 sm:ml-3 sm:w-auto sm:text-sm">
                    Seguir Vendiendo
                </button>
            </div>
        </div>

    </div>
</div>

<!-- MODAL AÑADIR NUEVO CLIENTE -->
<div class="fixed z-10 inset-0 overflow-y-auto hidden" aria-labelledby="modal-title" role="dialog" aria-modal="true" id="closeModalCliente">
    <div class="flex items-end justify-center min-h-screen pt-4 px-4 pb-20 text-center sm:block sm:p-0">
        <div class="fixed inset-0 bg-gray-500 bg-opacity-75 transition-opacity" aria-hidden="true"></div>

        <!-- Modal Content -->
        <span class="hidden sm:inline-block sm:align-middle sm:h-screen" aria-hidden="true">&#8203;</span>
        <div class="inline-block align-bottom bg-white rounded-lg text-left overflow-hidden shadow-xl transform transition-all sm:my-8 sm:align-middle sm:max-w-lg sm:w-full">
            <div class="bg-white px-4 pt-5 pb-4 sm:p-6 sm:pb-4">
                <div class="sm:flex sm:items-start">
                    <div class="mt-3 text-center sm:mt-0 sm:ml-4 sm:text-left w-full">
                        <h3 class="text-lg leading-6 font-medium text-gray-900" id="modal-title">
                            Editar Cliente
                        </h3>
                        <input type="hidden" id="idClienteInput" /> <!-- Campo oculto para idCliente -->
                        <div class="mt-2">
                            <input type="text" id="nombreContactoInput" class="shadow appearance-none border rounded w-full py-2 px-3 leading-tight focus:outline-none focus:shadow-outline" placeholder="Nombre Contacto">
                        </div>
                        <div class="mt-2">
                            <input type="text" id="apellidoContactoInput" class="shadow appearance-none border rounded w-full py-2 px-3 leading-tight focus:outline-none focus:shadow-outline" placeholder="Apellido Contacto">
                        </div>
                        <div class="mt-2">
                            <input type="text" id="telefonoInput" class="shadow appearance-none border rounded w-full py-2 px-3 leading-tight focus:outline-none focus:shadow-outline" placeholder="Teléfono">
                        </div>
                        <div class="mt-2">
                            <select id="tipoDocumentoInput" class="shadow appearance-none border rounded w-full py-2 px-3 leading-tight focus:outline-none focus:shadow-outline">
                                <option value="">Seleccione Tipo Doc.</option>
                                @foreach (var tipoDoc in ViewBag.TipoDocumentos)
                                {
                                    <option value="@tipoDoc.Value">@tipoDoc.Text</option>
                                }
                            </select>

                        </div>
                        <div class="mt-2">
                            <input type="text" id="numeroDocumentoInput" class="shadow appearance-none border rounded w-full py-2 px-3 leading-tight focus:outline-none focus:shadow-outline" placeholder="Número de Documento">
                        </div>
                        <div class="mt-2">
                            <input type="text" id="razonSocialInput" class="shadow appearance-none border rounded w-full py-2 px-3 leading-tight focus:outline-none focus:shadow-outline" placeholder="Razón Social">
                        </div>
                        <div class="mt-2">
                            <input type="text" id="nombreComercialInput" class="shadow appearance-none border rounded w-full py-2 px-3 leading-tight focus:outline-none focus:shadow-outline" placeholder="Nombre Comercial">
                        </div>
                        <div class="mt-2">
                            <input type="text" id="correoInput" class="shadow appearance-none border rounded w-full py-2 px-3 leading-tight focus:outline-none focus:shadow-outline" placeholder="Correo Electrónico">
                        </div>
                        <div class="mt-2">
                            <input type="text" id="direccionInput" class="shadow appearance-none border rounded w-full py-2 px-3 leading-tight focus:outline-none focus:shadow-outline" placeholder="Dirección">
                        </div>
                    </div>
                </div>
            </div>
            <div class="bg-gray-50 px-4 py-3 sm:px-6 sm:flex sm:flex-row-reverse">
                <button onclick="saveChanges()" class="bg-green-500 hover:bg-green-600 text-white font-bold py-1 px-4 rounded mt-2">
                    Guardar
                </button>
                <button type="button" class="mt-3 w-full inline-flex justify-center rounded-md border border-gray-300 shadow-sm px-4 py-2 bg-white text-base font-medium text-gray-700 hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500 sm:mt-0 sm:ml-3 sm:w-auto sm:text-sm" onclick="closeModalCliente()">
                    Cancelar
                </button>
            </div>
        </div>
    </div>
</div>



<!-- SPINNER-->
<div id="loadingSpinner" class="hidden fixed inset-0 bg-gray-500 bg-opacity-75 z-50 flex justify-center items-center">
    <!-- Aquí el contenido del spinner, como un ícono giratorio o una imagen -->
    <div class="loader"></div>
</div>

<!-- TICKET -->
<div id="ticketTemplate" style="display:none;">
    <div style="font-size: 12px; font-family: 'Courier New', Courier, monospace; text-align: center;">
        <h2 style="margin-bottom: 0;">Nombre de la Empresa</h2>
        <p style="margin-top: 5px;">Dirección de la Empresa</p>
        <hr style="border-top: 1px dashed #000; margin: 10px 0;" />
        <p>Fecha: <span id="ticketFecha">10/10/2023</span></p>
        <p>Cliente: <span id="ticketCliente">Nombre del Cliente</span></p>
        <p>Transporte: <span id="ticketTransporte">Nombre del Transporte</span></p>
        <p>Destino: <span id="ticketDestino">Destino</span></p>
        <hr style="border-top: 1px dashed #000; margin: 10px 0;" />
        <h3 style="margin-bottom: 5px;">Productos:</h3>
        <ul id="ticketProductos" style="list-style-type: none; padding: 0; margin: 0;">
            <!-- Productos añadidos dinámicamente -->
        </ul>
        <hr style="border-top: 1px dashed #000; margin: 10px 0;" />
        <p>Cantidad Total: <span id="ticketCantidadTotal">5</span></p>
        <p>Monto Total: <span id="ticketMontoTotal">$150.00</span></p>
        <p>¡Gracias por su compra!</p>
    </div>
</div>





<script>

    $(document).ready(function () {
        $('#clienteCombobox').select2({
            placeholder: "Buscar Cliente",
            allowClear: true,
            language: {
                noResults: function () {
                    return `<div style="color: red;">No se encontraron resultados</div><button id="addClientBtn" class="bg-orange-500 hover:bg-orange-600 text-white font-bold py-2 px-4 rounded">Añadir Cliente</button>`;
                }
            },
            escapeMarkup: function (markup) {
                return markup;
            }
        });

        // Evento para abrir el modal cuando se hace clic en "Añadir Cliente"
        $(document).on('click', '#addClientBtn', function () {
            $('#closeModalCliente').removeClass('hidden');
        });
    });
    function closeEditModal() {
        $('#closeModalCliente').addClass('hidden');
    }

    function saveChanges() {
        addNewCliente();
    }

</script>
<script>
    var ubigeoData = @Html.Raw(Json.Serialize(ViewBag.Ubigeo));

    document.getElementById('departamentoCombobox').addEventListener('change', function () {
        var departamentoSeleccionado = this.value;
        actualizarProvincias(departamentoSeleccionado);
    });

    document.getElementById('provinciaCombobox').addEventListener('change', function () {
        var provinciaSeleccionada = this.value;
        var departamentoSeleccionado = document.getElementById('departamentoCombobox').value;
        actualizarDistritos(departamentoSeleccionado, provinciaSeleccionada);
    });

    function actualizarProvincias(departamento) {
        var provincias = ubigeoData.filter(function (ubigeo) {
            return ubigeo.departamento === departamento;
        }).map(function (ubigeo) {
            return ubigeo.provincia;
        }).filter(function (value, index, self) {
            return self.indexOf(value) === index;
        });

        console.log("Provincias Filtradas:", provincias);

        var provinciaSelect = document.getElementById('provinciaCombobox');
        provinciaSelect.innerHTML = '<option value="">Seleccione una Provincia</option>';
        provincias.forEach(function (provincia) {
            provinciaSelect.innerHTML += '<option value="' + provincia + '">' + provincia + '</option>';
        });
        provinciaSelect.disabled = provincias.length === 0;

        // Restablecer el combobox de distritos
        resetDistritoSelect();
    }
    function resetDistritoSelect() {
        var distritoSelect = document.getElementById('distritoCombobox');
        distritoSelect.innerHTML = '<option value="">Seleccione un Distrito</option>';
        distritoSelect.disabled = true;
    }
    function actualizarDistritos(departamento, provincia) {
        var distritos = ubigeoData.filter(function (ubigeo) {
            return ubigeo.departamento === departamento && ubigeo.provincia === provincia;
        }).map(function (ubigeo) {
            return ubigeo.distrito;
        });

        var distritoSelect = document.getElementById('distritoCombobox');
        distritoSelect.innerHTML = '<option value="">Seleccione un Distrito</option>';
        distritos.forEach(function (distrito) {
            distritoSelect.innerHTML += '<option value="' + distrito + '">' + distrito + '</option>';
        });
        distritoSelect.disabled = distritos.length === 0;
    }
</script>
<script>
    document.getElementById('transporteCombobox').addEventListener('change', function () {
        var seleccion = this.value;
        var contenedorUbigeo = document.getElementById('ubigeoContainer');

        if (seleccion !== "0") {
            contenedorUbigeo.classList.remove('hidden');
        } else {
            contenedorUbigeo.classList.add('hidden');
        }
    });
</script>
<style>
    .productoColumn, .tallaColumn {
        display: none;
    }

    .modal {
        display: none; /* Hidden by default */
        position: fixed; /* Stay in place */
        z-index: 1; /* Sit on top */
        left: 0;
        top: 0;
        width: 100%; /* Full width */
        height: 100%; /* Full height */
        overflow: auto; /* Enable scroll if needed */
        background-color: rgb(0,0,0); /* Fallback color */
        background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    }

    .modal-content {
        background-color: #fefefe;
        margin: 15% auto; /* 15% from the top and centered */
        padding: 20px;
        border: 1px solid #888;
        width: 80%; /* Could be more or less, depending on screen size */
    }

    .new-client-option {
        color: green;
    }
</style>
